#sidebox {
	background-color: #006BB6;
	height: 1000px;
	width: 320px;
	float:left;
	position:fixed;
}

#logo {
	position: fixed;
	margin-top: 100px;
	margin-left: 50px;
}

#navigation {
	float: right;
	margin-top: 300px;
	margin-right: 50px;
}


a.links {
	color: white;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: Helvetica;
	text-decoration: none;
	list-style: none;
	line-height: 45px;
}

a.links:hover {
	text-decoration: underline;
}

li {
	text-decoration: none;
	list-style: none;
}

#mainContent {
	background-image: url("../images/Background.png");
	background-repeat: repeat;
	background-size: 10%;
	height: 1000px;
	width:640px;
	margin-left:350px;
}

#image1 {
	width: 600px;
	height: 600px;
	padding-top: 50px;
	margin-left:150px;
	text-align: justify;
}