body {
	padding: 0;
   margin: 0;
	width: 100%;
	height: 100%;
}


#sidebox {
	position: fixed;
	background-color: #006BB6;
	height: 100%;
	width: 320px;
	float:left;
}

#logo {
	position: fixed;
	margin-top: 50px;
	margin-left: 60px;
}

 
#navigation {
	float: right;
	margin-top: 200px;
	margin-right: 40px;
}

#mainContent {
	position: fixed;
	width: 100%;
	margin-left: 320px;
	overflow:auto;
}

#image1 {
	overflow:auto;
	width: 100%;
	height: 100%;
	background-image: url("../images/Cinderella.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	position: fixed;
	background-size: cover;
	background-position:right;
}

#text1 {
	width: 75%;
	height: 100%;
	position: fixed; 
	margin-top: 250px;
	
}

#footer {
	width: 220px;
	height: 50px;
	float: center;
	position: absolute; 
	bottom: 30px;    
	margin-left: 55px;
	margin-right:55px;
}

.fblogo {
	display: inline-block;
   margin-right: auto;
   padding: 10px;
}

.twitterlogo {
	display: inline-block;
	padding: 10px;
}

.instagramlogo {
	display: inline-block;
	padding: 10px;
}

a.links {
	text-decoration: none;
	color: white;
	font-family: 'Gotham Book';
	font-size: 24px;
	line-height: 48px;

	margin-top: 100px;
	margin-left: 50px;
}

#navigation {
	float: right;
	margin-top: 200px;
	margin-right: 50px;
}


a.links {
	color: white;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: Helvetica;
	text-decoration: none;
	list-style: none;
	line-height: 60px;
}

a.links:hover {
	text-decoration: underline;
}

li {
	list-style: none;
	text-decoration: none;
	text-align: right;
}

p {
	font-family: 'Gotham Light';
	font-size: 15px;
	color: black;
	text-align: justify;

}

h1 {
	font-family: 'Gotham Book';
	font-size: 36px;
	color: white;
	text-align: center;
	line-height: 100%;
}

@font-face {
  font-family: 'Gotham Bold';
 	src: url('fonts/Gotham-Bold.eot');
 	src: url('fonts/ufonts.com_gotham-bold.ttf')  format('truetype'), 
 	url('fonts/Gotham-Bold.woff') format('woff');
 	font-weight: 700;
 	font-style: normal;
 }

@font-face {
  font-family: 'Gotham Book';
	src: url('fonts/Gotham-Book.eot');
  	src: url('fonts/ufonts.com_gotham-book.ttf')  format('truetype'),
  	url('fonts/Gotham-Book.woff') format('woff'); 
 	font-weight: 400;
 	font-style: normal;
 }

@font-face {
  font-family: 'Gotham Light';
   src: url('fonts/Gotham-Light.eot');
   src: url('fonts/ufonts.com_gotham-thin.ttf')  format('truetype'), 
   url('fonts/Gotham-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
 }

 #aboutus {
 	color:black;
 	width: 75%;
 	font-weight: 400;
 	height:20px;
 }

 #text2 {
 	font-size: 17px;
 	font-weight: bold;
 	position: fixed;
 	text-align: left;
 	margin-left: 5%;
 	margin-right: 5%;
 	line-height: 35px;
 	padding-bottom:20px;
}

#imagediv {
	background-image: url("../images/Makeawish.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 80%;
	background-position: center;
	height:350px;

	overflow:scroll;
	padding-top:20px;
	width: 100%;
}

#donation_form {
	width: 100%;
	margin-top: 10px;
	text-decoration: none;
	font-size: 15px;
}

#row {
	width: 100%;
	margin-left: 25%;
	padding-top:20px;
	font-family: 'Gotham Book'; 
}

#button {
	width: 100%;
	margin-left: 25%;
	font-family: 'Gotham Book'; 
}

h1.Donate {
	color:black;
 	width: 75%;
 	font-weight: 400;
}

p.information {
	width: 75%;
	text-align: center;
}

#input {
	font-size: 20px;
}